*{font-family:  arial, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti !important;}
.fr{float: right !important;} .fl{float:left !important;}.cb{clear: both}
.mc{margin: 0 auto;}