<!DOCTYPE html>
<html>
<head>
<title>index</title>
<link href="${base}/res/js/validator-0.7.2/jquery.validator.css" rel="stylesheet">
<script type="text/javascript" src="${base}/res/js/validator-0.7.2/jquery.validator.js" ></script>
<script type="text/javascript" src="${base}/res/js/validator-0.7.2/local/zh_CN.js" ></script>
</head>
<body>
	<div class="span6">
		<form id="form_project_new"  data-validator-option="{stopOnError:false, timely:2}" >
			<fieldset>
				<legend>
					<h2>
						<i class="icon-plus on-left"></i> <strong>新建工程</strong>
					</h2>
				</legend>
				<div>
					<label>工程名</label>
					<div class="input-control text" data-role="input-control">
						<input name="projectName" type="text" placeholder="type text" data-rule="工程名:required;length[1~20]">
						<button class="btn-clear" tabindex="-1"></button>
					</div>
					<label>工程简介</label>
					<div class="input-control textarea" data-role="input-control" >
						<textarea name="intro" data-rule="工程简介:required;length[1~100]" >...</textarea>
					</div>
				</div>
				<br /> 
				<input type="submit" value="提交">
			</fieldset>
		</form>
	</div>
<script type="text/javascript">
	$(function(){
		$("#form_project_new").on("valid.form", function(){
		    $.post(
		        "${base}/b/projects/create",
		        $(this).serialize(),
		        function(json){
		            if(json.success){
		            	base.info("创建工程成功~","${base}/b/projects/query");
		            }else{
		            	base.info("创建工程失败："+json.message);
		            };
		        },
		        "json"
		    );
		})
		
	})
</script>	
</body>
</html>
