<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cn.appm.persistance.user.UserDao">

	
	<select id="getUserByUserName" resultType="cn.appm.services.user.model.User">
		select t.* from TB_USERS t WHERE t.username = #{userName}
	</select>
	
	
</mapper>

